ABOUT PAGE Content -->
<!-- fileName: About.ejs
 Student Name:Sina Pazhwak
 Student ID:301033560
 Date:2021-10-03
-->

<div class="container">
  <div class="row justify-content-center align-center text-center">
    <div class="col-md-4 mt-5">
      <img src="/Assets/images/Avatar.png" alt="" />
      <div class="text">
        <h1>Sina Pazhwak</h1>
        <a href="" class="btn-contact text-primary">
          <li class="nav-item">
            <a class="removeBullets" href="/Assets/resume/Resume.pdf" class="nav-item" download
              >Resume <i class="fa fa-download"></i
            ></a>
          </li>
        </a>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-6 mt-5">
      <div class="text">
        <span>
          My name is Sina Pazhwak, and I am a technical person who is dedicated
          toward learning new technologies. Coding has always been my passion. I
          love to code in different languages. I am passionate about my work.
          Because I love what I do, I have a steady source of motivation that
          drives me to do my best. In my last job, this passion led me to
          challenge myself daily and learn new skills that helped me to do
          better work. I soon became the go-to person for any design needs. I am
          ambitious and driven. I thrive on challenge and constantly set goals
          for myself, so I have something to strive toward. I’m not comfortable
          with settling, and I’m always looking for an opportunity to do better
          and achieve greatness. In my previous role, I was promoted three times
          in less than two years. What I like the most is work developing ideas
          and projects that help my clients to improve their business or their
          lives so do not hesitate to contact me in case that you want to see
          come true that idea that you have in mind.
        </span>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
  <path fill="#ffffff" fill-opacity="1" d="M0,800,1640,220,1840,6Z"></path>
</svg>
