<!-- fileName: header.ejs
 Student Name:Sina Pazhwak
 Student ID:301033560
 Date:2021-10-03
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="/Content/app.css" />
  </head>
  <body></body>
</html>
