ABOUT PAGE Content -->
<!-- fileName: About.ejs
 Student Name:Zahra Mirzaei
 Student ID:301326136

-->

<div class="container">
  <div class="row justify-content-center align-center text-center">
    <div class="col-md-4 mt-5">
      <img src="/Assets/images/Avatar.jpg" alt="" />
      <div class="text">
        <h1>Zahra Mizaei</h1>
        <a href="" class="btn-contact text-primary">
          <li class="nav-item">
            <a class="removeBullets" href="/Assets/Resume.pdf" class="nav-item" download
              >Resume <i class="fa fa-download"></i
            ></a>
          </li>
        </a>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-6 mt-5">
      <div class="text">
        <span>
          My name is Zahra Mirzaei, Experienced IT professional with over 10 years of technical support and problem-solving 
          expertise for both personal and business computers. Proficient in current security standards and technology trends,
          and dedicated to monitoring user behavior to minimize security risks and ensure strong protections for valuable information
          and assets. Passionate about continuous learning and keeping up-to-date with emerging technologies and best practices in the 
          IT industry. Skilled in training and educating users on safe computing practices to prevent security breaches and data loss.
          A collaborative team player who recognizes the value of different perspectives and skills, and proficient in using cloud-based
          tools like Google Drive, Dropbox, Trello, and Asana for efficient collaboration and information sharing. Seeking a challenging 
          opportunity in a dynamic organization that values innovation, problem-solving, and continuous improvement.

        </span>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
  <path fill="#ffffff" fill-opacity="1" d="M0,800,1640,220,1840,6Z"></path>
</svg>
