<!-- fileName: footer.ejs
 Student Name:Zahra Mirzaei
 Student ID:301326136
 Date:5/30/2023
-->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>
