<!-- fileName: bottoms_nav.ejs
 Student Name:Sina Pazhwak
 Student ID:301033560
 Date:2021-10-03
-->


<!-- Bottom Nav -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Client Support</span>
          </li>
          <li class="nav-item">
            <span class="nav-link">
              <i class="fas fa-phone"></i>
              +555-666-777
            </span>
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">
              <i class="fas fa-envelope"></i>
              Contact us
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="fas fa-star"></i>
              Give feedback
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">
          Copyright &copy; Sina Pazhwak
          <script>
            document.write(new Date().getFullYear());
          </script>
        </span>
      </div>

      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
